$dark-blue: #113a53;
$sky-blue: #3897f0;
$light-gray: #e6ecf0;
$light-border: #d2deeb;
$desire-red: #eb3b5a;

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

.modal-container {
  z-index: 10;
  position: absolute;
  width: 800px;
  height: 300px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 1rem;

  .modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;

    .modal-header {
      display: flex;
      justify-content: space-between;

      &-title {
        font-size: 180%;
        font-weight: 900;
      }

      .fa-times-circle {
        cursor: pointer;
        font-size: 180%;
        color: $desire-red;
      }
    }

    .modal-body {
      form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .input-wrap {
          position: relative;
          width: 90%;
          overflow: hidden;

          label {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 1px solid $light-border;

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              border-bottom: 3px solid $sky-blue;
              left: -1px;
              bottom: -1px;
              transform: translateX(-100%);
              transition: all 0.6s ease;
            }

            .content {
              position: absolute;
              bottom: 5px;
              left: 0;
              transition: all 0.3s ease;
            }
          }

          input {
            font-size: 110%;
            font-weight: 400;
            width: 100%;
            margin-top: 0.5rem;
            padding: 2rem 1rem 0.2rem 0rem;
            border: none;
            border-radius: 0.7rem;
            outline: none;

            &:focus + label .content,
            &:valid + label .content {
              transform: translateY(-150%);
              font-size: 90%;
              color: $sky-blue;
            }

            &:focus + label::after,
            &:valid + label::after {
              transform: translateX(0%);
            }
          }

          i {
            position: absolute;
            right: 0;
            bottom: 10px;
            color: $light-gray;
          }
        }

        input[type="submit"] {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          font-weight: 700;
          width: 100%;
          margin: 1rem 0rem;
          padding: 0.8rem 1.5rem;
          border: none;
          border-radius: 0.3rem;
          outline: none;
          color: #fff;
          background-color: $dark-blue;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: $sky-blue;
          }
        }

        .switch:link,
        .switch:visited {
          color: #000;
          transition: all 0.3s ease;
        }

        .switch:hover {
          color: $sky-blue;
        }
      }
    }
  }
}

// ******** Responsive Media Queries

// ** Mixins

@mixin small-phone {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin large-phone {
  @media (max-width: 580px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin large-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tv-extra-large {
  @media (max-width: 2160px) {
    @content;
  }
}

// ** Media Queries

@include tv-extra-large {
  .modal-container {
    width: 600px;
    height: 250px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;

    .modal-wrapper {
      justify-content: space-between;

      .modal-header {
        &-title {
          font-size: 160%;
          font-weight: 900;
        }

        .fa-times-circle {
          font-size: 160%;
        }
      }

      .modal-body {
        form {
          input[type="submit"] {
            margin: 0.5rem 0rem;
            padding: 0.5rem 1.5rem;
          }
        }
      }
    }
  }
}

@include small-desktop {
  .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 400vh;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }

  .modal-container {
    width: 600px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
  }
}
