$blue: #406590;
$darker-blue: #355579;
$darkest-blue: #162332;
$sky-blue: #3897f0;

$light-border: #d2deeb;
$bold-border: #e6ecf0;
$light-background: #f3f6f8;
$light-background-2: #e8f5fe;
$light-background-3: #f5f6f7;
$light-background-4: #f0f2f5;
$icon-color: rgb(101, 119, 134);
$text-color: #14171a;
$text-color-light: #667887;
$light-gray: #e6ecf0;
$menu-item-hover: #e8f5fe;

$desire-red: #eb3b5a;
$desire_yellow: #ffc107;
$desire-green: #20bf6b;
$desire-white: #eaf0f6;
$desire-blue: #4370a4;
$dark-blue: #113a53;
$light-blue: #8dc1dc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

// Custom Scrollbar
::-webkit-scrollbar {
  width: 10px !important;

  &-track {
    border-radius: 1rem !important;
    border: 1px solid #e8e8e8 !important;
  }

  &-thumb {
    background-color: $dark-blue !important;
    border-radius: 1rem !important;

    &:hover {
      background-color: $darkest-blue !important;
    }
  }
}
