$darkest-blue: #162332;
$dark-blue: #113a53;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

// Custom Scrollbar
::-webkit-scrollbar {
  width: 10px !important;

  &-track {
    border-radius: 1rem !important;
    border: 1px solid #e8e8e8 !important;
  }

  &-thumb {
    background-color: $dark-blue !important;
    border-radius: 1rem !important;

    &:hover {
      background-color: $darkest-blue !important;
    }
  }
}
