$light-grey: #b3b3b3;
$dark-blue: #113a53;
$light-blue: #8dc1dc;

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $dark-blue;
  overflow: hidden;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    .calendar-container {
      flex-basis: 65%;
      display: flex;
      flex-direction: column;

      .calendar-body {
        height: 100%;

        .react-calendar {
          // These below styles are to clear conflict between two react packages of datetime and calendar
          width: inherit;
          background-color: transparent;
          border: none;
          font-family: "Roboto", sans-serif;

          .react-calendar__navigation {
            justify-content: center;
            margin-bottom: 1rem;

            .react-calendar__navigation__label {
              flex-grow: unset !important;
              color: #ffffff;
              font-family: "Roboto", sans-serif;
              font-size: 1.5rem;
              font-weight: 900;
            }

            button {
              cursor: pointer;
              color: #ffffff;
              font-size: 3rem;
              margin: 0rem 1rem;
              border: none;
              outline: none;
              background-color: transparent;
            }
          }
          .react-calendar__viewContainer {
            color: #ffffff;

            .react-calendar__month-view {
              div {
                .react-calendar__month-view__weekdays {
                  text-align: center;
                  color: $light-blue;
                  font-family: "Roboto", sans-serif;
                  font-size: 1.5rem;
                  font-weight: 500;

                  abbr {
                    text-decoration: none;
                  }
                }
                .react-calendar__month-view__days {
                  height: 80vh;

                  .react-calendar__tile--now {
                    abbr {
                      padding: 0.5rem;
                      border-radius: 50%;
                      background-color: #ffffff;
                      color: $dark-blue;
                    }
                  }

                  .circle {
                    border: none !important;

                    abbr {
                      padding: 0.5rem;
                      border-radius: 50% !important;
                      border: 1px solid #ffffff !important;
                    }
                  }

                  button {
                    font-size: 1.5rem;
                    font-weight: 400;
                    font-family: "Roboto", sans-serif;
                    color: #ffffff;
                    background-color: transparent;
                    border: none;
                    outline: none;

                    abbr {
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .todo-container {
      flex-basis: 35%;
      border-radius: 3rem;
      border: 10px solid rgba(0, 0, 0, 1);
      background-color: #ffffff;
      margin: 1rem;
      height: 95%;

      .todo-wrapper {
        margin: 0.5rem 1rem;
        padding: 1.5rem 1rem;
        height: inherit;

        .todo-iphone {
          position: relative;
          top: -2rem;

          .todo-iphone-face {
            position: absolute;
            top: -1px;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: 40px;
            background-color: rgba(0, 0, 0, 1);
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-line {
              width: 60px;
              height: 8px;
              border-radius: 2rem;
              background-color: rgba($color: #ffffff, $alpha: 0.9);
            }

            &-camera {
              width: 12px;
              height: 12px;
              background-color: $light-grey;
              border-radius: 50%;
              margin-left: 1rem;
            }
          }

          .todo-iphone-left {
            position: absolute;
            top: 10px;
            left: 40px;
          }

          .todo-iphone-right {
            position: absolute;
            top: 5px;
            right: 30px;

            .fas {
              font-size: 100%;
            }

            .fa-wifi {
              margin-left: 0.5rem;
            }

            .fa-battery-half {
              margin-left: 0.5rem;
            }
          }
        }

        .todo-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          &-options {
            display: flex;

            &-cog,
            &-bell {
              &-img {
                width: 30px;
              }
            }

            &-bell {
              position: relative;

              &-img {
                width: 32px;
                margin-left: 1rem;
              }

              &-dot {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 8px;
                height: 8px;
                background-color: red;
                border-radius: 50%;
              }
            }
          }

          &-avatar {
            &-img {
              width: 70px;
              border-radius: 50%;
              transition: all 0.2s ease-in-out;

              &:hover {
                width: 90px;
              }
            }
          }
        }

        .todo-intro {
          margin-top: 1rem 0rem;

          &-title {
            font-size: 180%;
            font-weight: 700;
          }

          &-text {
            margin-top: 1rem;
            color: $light-grey;
            font-size: 120%;
            font-weight: 700;
          }
        }

        .todo-body {
          overflow-y: auto;
          overflow-x: hidden;
          height: 75%;
          padding-right: 0.5rem;

          &-item {
            position: relative;
            margin-top: 1rem;
            padding: 1rem;
            border: 1px solid $light-grey;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;

            &-options {
              position: absolute;
              top: 0px;
              right: 50px;
              width: 100px;
              height: 100px;
              color: #ffffff;
              background-color: $dark-blue;
              padding: 1rem;
              border-radius: 0.5rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              &-edit,
              &-delete {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                &-text {
                  font-size: 100%;
                  font-weight: 300;
                }
              }

              .arrow {
                position: absolute;
                width: 11px;
                height: 11px;
                top: 30px;
                right: -5px;
                background-color: $dark-blue;
                transform: rotate(45deg);
                z-index: 1;
              }
            }

            &-header {
              display: flex;
              justify-content: space-between;
              align-items: center;

              &-main {
                display: flex;
                align-items: center;

                &-form {
                  margin-right: 1rem;

                  &-label {
                    .fa-check-square {
                      color: #179474;
                      font-size: 200%;
                    }

                    .fa-square {
                      color: $light-grey;
                      font-size: 200%;
                    }
                  }

                  &-input {
                    display: none;
                    width: 30px;
                    height: 30px;
                  }
                }

                &-title {
                  font-size: 130%;
                  font-weight: 700;
                }
              }

              &-options {
                .fas {
                  cursor: pointer;
                  color: $light-grey;
                  font-size: 110%;
                }
              }
            }

            &-footer {
              margin-top: 1rem;

              &-text {
                &-time {
                  font-size: 100%;
                  font-weight: 500;
                  color: $light-grey;
                }
              }
            }
          }

          &-notask {
            text-align: center;
            margin-top: 3rem;
            font-size: 100%;
            font-weight: 700;
            color: $dark-blue;
          }
        }

        .todo-add {
          margin-top: 0.5rem;
          text-align: right;

          .todo-add-btn {
            width: 80px;
            height: 80px;
            border: none;
            outline: none;
            border-radius: 50%;
            background-color: #ff830c;
            transition: all 0.2s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }

            .fas {
              font-size: 200%;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .snow-ground-img {
    position: absolute;
    bottom: 0;
    width: 65%;
    height: 100px;
    opacity: 0.8;
  }
  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }

  .snow {
    $total: 53;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    color: #ffffff;

    @for $i from 1 through $total {
      $random-x: random(1000000) * 0.0001vw;
      $random-offset: random_range(-100000, 100000) * 0.0001vw;
      $random-x-end: $random-x + $random-offset;
      $random-x-end-yoyo: $random-x + ($random-offset / 2);
      $random-yoyo-time: random_range(30000, 80000) / 100000;
      $random-yoyo-y: $random-yoyo-time * 100vh;
      $random-scale: random(10000) * 0.00017;
      $fall-duration: random_range(10, 30) * 1s;
      $fall-delay: random(30) * -1s;

      &:nth-child(#{$i}) {
        opacity: random(10000) * 0.0001;
        transform: translate($random-x, -10px) scale($random-scale);
        animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
      }

      @keyframes fall-#{$i} {
        #{percentage($random-yoyo-time)} {
          transform: translate($random-x-end, $random-yoyo-y)
            scale($random-scale);
        }

        to {
          transform: translate($random-x-end-yoyo, 220vh) scale($random-scale);
        }
      }
    }
  }
}

// ******** Responsive Media Queries

// ** Mixins

@mixin small-phone {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin large-phone {
  @media (max-width: 580px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: 1025px) and (max-width: 1200px) {
    @content;
  }
}

@mixin tv-extra-large {
  @media (min-width: 1201px) and (max-width: 2160px) {
    @content;
  }
}

// ** Media Queries

// 1200 To 2160
@include tv-extra-large {
  .container {
    .wrapper {
      .calendar-container {
        .calendar-body {
          .react-calendar {
            .react-calendar__navigation {
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      .todo-container {
        .todo-wrapper {
          padding: 1.5rem 0.5rem;

          .todo-iphone {
            .todo-iphone-face {
              width: 45%;
              height: 35px;
            }

            .todo-iphone-left {
              position: absolute;
              top: 8px;
              left: 20px;
            }

            .todo-iphone-right {
              position: absolute;
              top: 5px;
              right: 15px;
            }
          }

          .todo-header {
            &-avatar {
              &-img {
                width: 60px;

                &:hover {
                  width: 70px;
                }
              }
            }
          }

          .todo-intro {
            &-title {
              font-size: 160%;
              font-weight: 700;
            }

            &-text {
              margin-top: 0.6rem;
              font-size: 120%;
            }
          }

          .todo-add {
            margin-top: 0.5rem;

            .todo-add-btn {
              width: 60px;
              height: 60px;

              .fas {
                font-size: 190%;
              }
            }
          }
        }
      }
    }

    .snow-ground-img {
      height: 60px;
    }
  }
}

// 1024 To 1200
@include large-desktop {
  .container {
    .wrapper {
      .calendar-container {
        flex-basis: 55%;

        .calendar-body {
          .react-calendar {
            .react-calendar__navigation {
              margin-bottom: 0.5rem;

              .react-calendar__navigation__label {
                font-size: 1.3rem;
                font-weight: 500;
              }

              button {
                font-size: 2.5rem;
              }
            }
            .react-calendar__viewContainer {
              .react-calendar__month-view {
                div {
                  .react-calendar__month-view__weekdays {
                    font-size: 1.2rem;
                  }
                  .react-calendar__month-view__days {
                    height: 85vh;

                    button {
                      font-size: 1.2rem;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .todo-container {
        flex-basis: 45%;
        border: 8px solid rgba(0, 0, 0, 1);

        .todo-wrapper {
          padding: 1.5rem 0.5rem;

          .todo-iphone {
            .todo-iphone-face {
              width: 40%;
              height: 30px;

              &-line {
                width: 60px;
                height: 6px;
              }

              &-camera {
                width: 11px;
                height: 11px;
              }
            }

            .todo-iphone-left {
              position: absolute;
              top: 10px;
              left: 40px;
            }

            .todo-iphone-right {
              position: absolute;
              top: 5px;
              right: 30px;

              .fas {
                font-size: 100%;
              }

              .fa-wifi {
                margin-left: 0.5rem;
              }

              .fa-battery-half {
                margin-left: 0.5rem;
              }
            }
          }

          .todo-header {
            &-avatar {
              &-img {
                width: 50px;

                &:hover {
                  width: 70px;
                }
              }
            }
          }

          .todo-intro {
            margin-top: 0.5rem 0rem;

            &-title {
              font-size: 150%;
              font-weight: 700;
            }

            &-text {
              margin-top: 0.5rem;
              font-size: 110%;
              font-weight: 500;
            }
          }

          .todo-body {
            padding-right: 0.3rem;

            &-item {
              margin-top: 0.5rem;
              padding: 0.8rem;

              &-options {
                top: 5px;
                right: 38px;
                width: 100px;
                height: 70px;
                padding: 0.5rem;

                &-edit,
                &-delete {
                  &-text {
                    font-size: 90%;
                    font-weight: 300;
                  }
                }

                .arrow {
                  position: absolute;
                  width: 11px;
                  height: 11px;
                  top: 12px;
                  right: -5px;
                  background-color: $dark-blue;
                  transform: rotate(45deg);
                  z-index: 1;
                }
              }

              &-header {
                &-main {
                  &-form {
                    margin-right: 1rem;

                    &-label {
                      .fa-check-square {
                        font-size: 150%;
                      }

                      .fa-square {
                        font-size: 150%;
                      }
                    }

                    &-input {
                      width: 20px;
                      height: 20px;
                    }
                  }

                  &-title {
                    font-size: 110%;
                    font-weight: 700;
                  }
                }

                &-options {
                  .fas {
                    font-size: 100%;
                  }
                }
              }

              &-footer {
                &-text {
                  &-time {
                    font-weight: 400;
                  }
                }
              }
            }

            &-notask {
              margin-top: 2rem;
              font-size: 100%;
              font-weight: 500;
            }
          }

          .todo-add {
            margin-top: 0.3rem;

            .todo-add-btn {
              width: 65px;
              height: 65px;

              .fas {
                font-size: 180%;
              }
            }
          }
        }
      }
    }

    .snow-ground-img {
      width: 55%;
      height: 40px;
    }
  }
}

// 768 To 1024
@include small-desktop {
  .container {
    width: 100%;
    height: 100%;

    .wrapper {
      flex-direction: column;

      .calendar-container {
        flex-basis: 100%;

        .calendar-body {
          .react-calendar {
            .react-calendar__navigation {
              .react-calendar__navigation__label {
                font-size: 1.4rem;
                font-weight: 500;
              }

              button {
                font-size: 2.5rem;
              }
            }
            .react-calendar__viewContainer {
              .react-calendar__month-view {
                div {
                  .react-calendar__month-view__weekdays {
                    font-size: 1.2rem;
                  }
                  .react-calendar__month-view__days {
                    height: 100vh;
                  }
                }
              }
            }
          }
        }
      }

      .todo-container {
        width: 90%;
        height: 800px;

        .todo-wrapper {
          height: 100%;

          .todo-header {
            &-avatar {
              &-img {
                width: 60px;

                &:hover {
                  width: 70px;
                }
              }
            }
          }

          .todo-intro {
            margin-top: 0rem;

            &-title {
              font-size: 170%;
            }

            &-text {
              margin-top: 0.3rem;
              font-size: 100%;
              font-weight: 500;
            }
          }

          .todo-body {
            &-item {
              margin-top: 0.5rem;
              padding: 0.8rem;

              &-options {
                top: 5px;
                right: 38px;
                width: 100px;
                height: 70px;
                padding: 0.5rem;

                &-edit,
                &-delete {
                  &-text {
                    font-size: 90%;
                    font-weight: 300;
                  }
                }

                .arrow {
                  position: absolute;
                  width: 11px;
                  height: 11px;
                  top: 12px;
                  right: -5px;
                  background-color: $dark-blue;
                  transform: rotate(45deg);
                  z-index: 1;
                }
              }
            }
          }

          .todo-add {
            margin-top: 0.5rem;

            .todo-add-btn {
              width: 65px;
              height: 65px;
            }
          }
        }
      }
    }

    .snow-ground-img {
      position: relative;
      bottom: -5px;
      width: 100%;
      height: 50px;
    }
  }
}

// 580 To 768
@include tablet {
  .container {
    .wrapper {
      .calendar-container {
        .calendar-body {
          .react-calendar {
            .react-calendar__navigation {
              button {
                font-size: 2rem;
              }
            }
            .react-calendar__viewContainer {
              .react-calendar__month-view {
                div {
                  .react-calendar__month-view__days {
                    button {
                      font-size: 1.1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .todo-container {
        .todo-wrapper {
          .todo-intro {
            &-title {
              font-size: 150%;
            }
            &-text {
              margin-top: 0.2rem;
            }
          }

          .todo-body {
            &-item {
              &-header {
                &-main {
                  &-form {
                    margin-right: 1rem;

                    &-label {
                      .fa-check-square {
                        font-size: 150%;
                      }

                      .fa-square {
                        font-size: 150%;
                      }
                    }

                    &-input {
                      width: 20px;
                      height: 20px;
                    }
                  }

                  &-title {
                    font-size: 110%;
                  }
                }

                &-options {
                  .fas {
                    font-size: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 480 To 580
@include large-phone {
  .container {
    .wrapper {
      .todo-container {
        width: 95%;

        .todo-wrapper {
          .todo-iphone {
            .todo-iphone-face {
              width: 50%;
              height: 40px;
            }

            .todo-iphone-left {
              position: absolute;
              top: 12px;
              left: 22px;
            }

            .todo-iphone-right {
              right: 22px;
            }
          }
        }
      }
    }
  }
}

// 320 To 480
@include small-phone {
  .container {
    .wrapper {
      .calendar-container {
        .calendar-body {
          .react-calendar {
            .react-calendar__navigation {
              .react-calendar__navigation__label {
                font-size: 1rem;
                font-weight: 500;
              }

              button {
                font-size: 2rem;
              }
            }
            .react-calendar__viewContainer {
              .react-calendar__month-view {
                div {
                  .react-calendar__month-view__weekdays {
                    font-size: 1rem;
                  }
                  .react-calendar__month-view__days {
                    height: 70vh;

                    button {
                      font-size: 1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .todo-container {
        width: 100%;
        border: 8px solid rgba(0, 0, 0, 1);

        .todo-wrapper {
          padding: 1.5rem 0.5rem;

          .todo-iphone {
            .todo-iphone-face {
              width: 40%;
              height: 30px;

              &-line {
                width: 40px;
                height: 4px;
              }

              &-camera {
                width: 10px;
                height: 10px;
              }
            }

            .todo-iphone-left {
              position: absolute;
              top: 10px;
              left: 20px;

              &-text {
                font-size: 90%;
                font-weight: 500;
              }
            }

            .todo-iphone-right {
              right: 20px;

              .fas {
                font-size: 90%;
              }

              .fa-wifi {
                margin-left: 0.3rem;
              }

              .fa-battery-half {
                margin-left: 0.3rem;
              }
            }
          }

          .todo-header {
            &-options {
              &-cog {
                &-img {
                  width: 28px;
                }
              }

              &-bell {
                &-img {
                  width: 30px;
                }
              }
            }

            &-avatar {
              &-img {
                width: 50px;

                &:hover {
                  width: 60px;
                }
              }
            }
          }

          .todo-intro {
            margin-top: 0.3rem;

            &-title {
              font-size: 130%;
              font-weight: 500;
            }

            &-text {
              margin-top: 0.3rem;
              font-size: 100%;
              font-weight: 400;
            }
          }

          .todo-body {
            &-item {
              &-options {
                width: 80px;
                height: 60px;
                padding: 0.4rem;

                &-edit,
                &-delete {
                  &-text {
                    font-size: 90%;
                    font-weight: 300;
                  }

                  .far {
                    font-size: 90%;
                  }
                }

                .arrow {
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  top: 12px;
                  right: -5px;
                  background-color: $dark-blue;
                  transform: rotate(45deg);
                  z-index: 1;
                }
              }

              &-header {
                &-main {
                  &-form {
                    margin-right: 0.5rem;

                    &-label {
                      .fa-check-square {
                        font-size: 130%;
                      }

                      .fa-square {
                        font-size: 130%;
                      }
                    }

                    &-input {
                      width: 15px;
                      height: 15px;
                    }
                  }

                  &-title {
                    font-size: 100%;
                    font-weight: 500;
                  }
                }

                &-options {
                  .fas {
                    font-size: 100%;
                  }
                }
              }

              &-footer {
                &-text {
                  font-size: 90%;

                  &-time {
                    font-size: 90%;
                    font-weight: 400;
                  }
                }
              }
            }
          }

          .todo-add {
            margin-top: 1rem;

            .todo-add-btn {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
